{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h1>Hi! 😄</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><b>Time until</b></div>
        <div class="panel-body">

          <form action="#" method="post">
            {{ form.date(class="datepicker") }}
            {{ form.time() }}
            {{ form.time_zone() }}
            {{ form.hidden_tag() }}
            <input type="submit" value="Submit" />
          </form>

          {% if timestamp %}
          <br>
          <p class="lead" id="countdown">
            <script>
              function getCountdown() {
                var start = new Date().getTime();
                var end = new Date("{{ timestamp }}");
                var delta = end - start;
                var days = Math.floor(delta / (1000 * 60 * 60 * 24));
                var hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((delta % (1000 * 60)) / 1000);
                var countdown = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
                var parent_node = document.getElementById("countdown");
                var countdown_node = document.createTextNode(countdown);
                parent_node.replaceChild(countdown_node, parent_node.childNodes[0]);
              }
              window.setInterval(getCountdown, 1000);
            </script>
          </p>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

{% endblock %}