{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/countdown.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h1>Hi! 😄</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><b>Time until</b></div>
        <div class="panel-body">

          <form action="#" method="post">
            {{ form.date(class="datepicker") }}
            {{ form.time() }}
            {{ form.time_zone() }}
            {{ form.hidden_tag() }}
            <input type="submit" value="Submit" />
          </form>

          {% if timestamp %}
          <br>
          <p class="lead" id="countdown">
            <script>
              function showCountdown(timestamp) {
                var countdown = getCountdown(timestamp);
                var parent_node = document.getElementById("countdown");
                var countdown_node = document.createTextNode(countdown);
                parent_node.replaceChild(countdown_node, parent_node.childNodes[0]);
              }
              window.setInterval(showCountdown, 1000, "{{ timestamp }}");
            </script>
          </p>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

{% endblock %}